<html>
    <head>
        <title>Dead blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Dead Blog</a></h1>
        </div>

        <div>
            <p>published: 14.07.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>What's the fucking wonder. I write this text, but i don't understand why i do that. Better i 'd stay selling my beer, vodka, cigarettes and get a lot of money, than learn this fucking python and absolutely sucking django. Bastards....</p>
        </div>

        <div>
            <p>published: 24.07.2024, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>ABla bla bla bla bla bla bla.. I got drunk and want to drink alcohol every day. I'm biber, redneck, i'm not a programmer nor developer. I'd rather builder or empty person with empty eyes.</p>
        </div>
        
        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
        
    </body>
</html>



